<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="img/logo250x500trans.png" height="50px">
        </div>
    </div>

</div>
<div id="box">
    <div id="overlay">
        <p id="content">{{heading}}</p>
    </div>
</div>
<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1 class="enhance">Features</h1>
            <h3 class="sub-enhance">Unclutter your conversations</h3>
        </div>
    </div>
    <div class="row mt centered">
        <div class="col-lg-4">
            <i class="fa fa-birthday-cake fa-5x" style="color: #2196f3"></i>
            <h4 class="enhance">1. Topics</h4>
            <p>Use topics to group similar conversations and be on track</p>
        </div>
        <div class="col-lg-4">
            <i class="fa fa-users fa-5x" style="color: #e65100"></i>
            <h4 class="enhance">2. Subjects</h4>
            <p>Add context to your conversations using subjects </p>
        </div>
        <div class="col-lg-4">
            <i class="fa fa-tags fa-5x" style="color: #4caf50"></i>
            <h4 class="enhance">3. Scintillating tags</h4>
            <p>Convey your expertise using short and simple tags</p>
        </div>
    </div>
    <hr/>
    <div class="row mt centered">
        <div id="signUpAlert" ng-if="showAlert">
            <div ng-if="isError">
                <div class="alert alert-danger" role="alert">
                    <strong>Hey!</strong> {{alertMessage}}
                </div>
            </div>
            <div ng-if="!isError">
                <div class="alert alert-success" role="alert">
                    <strong>Awesome!</strong> {{alertMessage}}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3" id="signUpForm" ng-show="!showAlert">
            <h1 class="enhance">Be the first to get on <strong>Point</strong></h1>
            <h3 class="sub-enhance">Signup to get early access</h3>
            <br/>
            <form class="form-inline">
                <div class="form-group" ng-class="formValidationClass">
                    <label class="sr-only" for="emailAddress">No spamming, that's promise</label>
                    <div class="input-group input-group-lg">
                        <div class="input-group-addon">
                            <i class="fa fa-at "></i>
                        </div>
                        <input type="text" class="form-control" id="emailAddress" placeholder="your email" required ng-model="emailAddress">
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-lg" ng-click="launchSignUpSubmit()">JOIN</button>
            </form>
            <p class="enhance"><i class="fa fa-ban "></i> No spamming, that's a promise</p>
        </div>
    </div>
    <hr/>
</div>

